<div class="row">
    <div class="col l12 push-l1">
        <div class="row valign-wrapper encabezado">
            <h2 class="col l6 left-align">Cotización</h2>
            <small class="col l6 right-align"><strong>ID COTIZACIÓN: XXXXXX</strong></small>
            <div class="col l6 right-align"><a class="btn" routerLink="/vendedor">Pagar</a></div>
            <div class="col l6"><a class="btn" routerLink="/productos">Volver a catálogo</a></div>
        </div>
        <div class="col s12">                                                           <!--recibes|| mandas-->
            <app-tarjeta *ngFor="let product of productsService.getCotizacion()" [product] = "product"></app-tarjeta>
        </div>
    </div>
</div>