<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="about.component.css">    
</head>
<body>        
      
    <!--Imagen y Texto--> 
<div class="top">
    <div id="left">
    </div>
</div>

<div class="row">
    <div class="col s12 m6 info" >
        <h1>Acerca de nosotros</h1>
        <p>House Hub es una empresa Mexicalense que se enfoca enfacilitar la venta y renta de casas en nuestra ciudad.Buscamos transformar la industria y ofrecer un servicioaccesible para todos sin importar la zona en que seencuentra con el fin de brindar la misma oportunidad anuestros propietarios y tener un catálogo con variedad.
        </p>
    </div>
    <div class="col s12 m6 info">
        <h1>Misión</h1>
        <p>Nuestra misión es crear una experiencia donde elanfitrión de la casa y el huésped tenga un lugar dondedisfrutar de su tiempo en ocio o de trabajo</p>
    </div>
</div>
    
<div class="row contenedor"> <!-- contenedor -->
    <div class="col s3">
        <div class="a">
            <h2>FÁCIL DE ALQUILAR</h2>
            <p>Encuentra unlugarparaalquilar de manera rápida y sencilla</p>
        </div>
    </div>
    <div class="col s3">
        <div class="b">
            <h2>DISPONIBILIDAD</h2>
            <P>Conéctese conmillonesdeinquilinos y arriende su propiedad100% en línea</P>
        </div>
    </div>
    <div class="col s3">
        <div class="c">
            <h2> JUSTOS</h2>
            <p> Hogar, casas,condominios,ycasas adosadasdisponiblespara alquilar</p>
        </div>
    </div>
    <div class="col s3">
        <div class="d">
            <h2> CALIDAD</h2>
            <p>Explore los listados de lamásaltacalidad, solicite en línea, firme sucontratodearrendamiento e incluso pague elalquiler desdecualquierdispositivo</p>
        </div>
    </div>
</div>

    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/64fbbc4af2.js" crossorigin="anonymous"></script>   
</body>
</html>