.home{
    padding: 250px 5%;
    background-image: url('../../../assets/rsc/background.jpg');
    background-position: center;
    background-size: cover;
}

p{
    font-family: 'Montserrat';
    text-align: justify;
}


.content{
    color: #fff;
    font-family: 'Playfair Display', serif;
   
}

h1 {
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.custom-btn {
    font-size: 18px;
    background-color: #326AC9;
    width: 25%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.custom-btn:hover, .custom-btn:focus, .custom-btn :active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.body {
    margin-left: 7%;
    margin-right: 7%;
}

.body h4 {
    font-size: 22px;
    color: grey;
}

.card {
    background-color: white;
}

.card:hover {
    background-color: whitesmoke;
}

.about{
    background-color: #F6F8F7;
}

.sobrenosotros {
    margin: 30px;
}

.reviews-title{
    text-align: center;
}

.icono {
    padding: 20px;
    text-align: center;
}

.info {
    text-align: center;
    padding: 20px;
}

.reviews p {
    text-align: center;
    font-size: 20px;
}

.carta {
    background-color: whitesmoke;
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
}

.carta:hover {
    transform: translateY(-10px);
}

.carta h4 {
    font-size: 26px;
}

.carta i{
    color: #326AC9;
}